.h2 {
	font-size: clamp(1.5rem, 5vw, 3rem);
	margin-bottom: 2rem;
	text-decoration: underline;
}

.p {
	font-size: clamp(1rem, 3vw, 2rem);
	margin-bottom: 4rem;
}

.aboutMe {
	margin-top: clamp(3rem, 5vw, 6rem);
}
