$medium: 850px;

@mixin mq($size) {
	@media (max-width: $size) {
		@content;
	}
}

.container {
	$medium-grid-square-size: clamp(3rem, 15vw, 20rem);
	display: grid;
	grid-template-columns: repeat(3, medium-grid-square-size);
	grid-template-rows: repeat(3, medium-grid-square-size);
	gap: 1rem;
	place-items: center;
	& * {
		padding: 0.25em;
		margin: 0;
	}
	@media screen and (min-width: 851px) {
		img {
			$large-img-size: clamp(5rem, 10vw, 15rem);
			width: $large-img-size;
			height: $large-img-size;
		}
	}
	@include mq($medium) {
		img {
			$medium-img-size: clamp(3rem, 15vw, 20rem);
			width: $medium-img-size;
			height: $medium-img-size;
		}
		.mernTextWrapper {
			font-size: clamp(0.75rem, 3vw, 3rem);
		}
	}
}

.outerContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.mernTextWrapper {
	font-size: clamp(1rem, 2vw, 3rem);
	grid-column: 2;
	grid-row: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}

.react {
	grid-column: 1;
	grid-row: 2;
}

.mongo {
	grid-column: 2;
	grid-row: 1;
}

.node {
	grid-column: 3;
	grid-row: 2;
}

.express {
	grid-column: 2;
	grid-row: 3;
}
