$medium: 850px;

@mixin mq($size) {
	@media (max-width: $size) {
		@content;
	}
}

.hero {
	margin-top: 5rem;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	max-height: 100dvh;
	margin-bottom: clamp(5rem, 15vw, 20rem);
	.heroImage {
		$heroImageSize: clamp(15rem, 40vw, 30rem);
		flex: 1;
		border-radius: 50%;
		width: $heroImageSize;
		height: $heroImageSize;
		margin-left: clamp(1rem, 7vw, 20rem);
	}
	.heroText {
		flex: 1;
		font-size: clamp(0.3rem, 1vw, 2rem);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2rem;
		letter-spacing: 2px;
		& h1 {
			font-size: 5rem;
			letter-spacing: 3px;
		}
	}
	@include mq($medium) {
		flex-direction: column;
		flex-wrap: nowrap;
		.heroImage {
			$heroImageSize: clamp(15rem, 50vw, 30rem);
			flex: 1;
			border-radius: 50%;
			width: $heroImageSize;
			height: $heroImageSize;
			margin-inline: clamp(0rem, 15vw, 20rem);
		}

		.heroText {
			font-size: clamp(0.4rem, 3vw, 1.5rem);
			h1 {
				font-size: clamp(2rem, 10vw, 6rem);
			}
		}
	}
}

.flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

.notableSkills {
	display: flex;
	gap: 1rem;
	margin-bottom: 10rem;
	height: clamp(5rem, 10vw, 12rem);
	position: relative;
	padding: 1rem clamp(0.5rem, 9vw, 25rem);
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 10%;
		width: 80%;
		height: 2px;
		background-color: black;
	}

	img {
		flex: 1;
		height: 100%;
		object-fit: contain;
	}
	@include mq($medium) {
		margin-inline: 0;
		padding: 1rem 5%;
		margin-top: clamp(10rem, 20vw, 25rem);
		gap: clamp(0.5rem, 2vw, 1rem);
		img {
			flex: 1;
			height: clamp(1rem, 7vw, 6rem);
			object-fit: contain;
		}
	}
}
