.footer {
	color: rgba(0, 0, 0, 0.5);
	font-size: clamp(0.25rem, 1vw, 1rem);
	margin-top: 3rem;
	position: relative;
	display: flex;
	margin-inline: clamp(2rem, 8vw, 20rem);
	padding: clamp(0.25rem, 1vw, 1rem) 0;
	justify-content: center;
	align-items: center;
	gap: 3rem;
}

.footer::before {
	content: '';
	position: absolute;
	top: 0;
	left: 5%;
	width: 90%;
	height: 1px;
	background-color: rgba(0, 0, 0, 0.25);
}

.icons {
	display: flex;
	gap: 1rem;
}

.icon {
	$medium-icon-size: clamp(0.5rem, 2vw, 3rem);
	width: $medium-icon-size;
	height: $medium-icon-size;
	object-fit: cover;
	object-position: center;
	transition: all 0.1s ease-in-out;
	cursor: pointer;
	filter: brightness(0%) grayscale(100%);
	&:hover {
		transform: scale(1.2);
	}
}
